.carCard {
    border-radius: 12%;
}

.carCard:hover {
    /* Set the card to pop up */
    transform: scale(1.1);
    /* Set the background color to highlight the card */
    transition: transform 300ms ease-in, background-color 300ms ease;
  }

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    padding: 0.8rem;
    margin: 0px;
    text-align: center;
}
.carCard .btn-Detailed {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    background-color: #0056b3; /* Set the same color as .navbar .btn:hover */
    color: #fff;
    border: none;
    text-decoration: none;
}

.carCard .btn-Detailed:hover {
    background-color: #002d5a; /* Set the same color as .navbar .btn:active */
    color: #fff;
    box-shadow: inset 0px 0px 5px #00b7ff;
    text-decoration: none;
}

.carCard .btn-Detailed:active {
    background-color: #002d5a; /* Set the same color as .navbar .btn:active */
    box-shadow: inset 0px 0px 5px #00b7ff;
    transform: translateY(2px);
    color: #fff;
    outline: none;
}

.carCard .btn-Detailed:focus {
    outline: none;
    animation: buttonClick 0.3s;
}

@keyframes buttonClick {
    0% {
        transform: translateY(0);
        box-shadow: 0px 0px 15px #00b7ff;
    }
    50% {
        transform: translateY(2px);
        box-shadow: inset 0px 0px 5px #00b7ff;
    }
    100% {
        transform: translateY(0);
        box-shadow: 0px 0px 15px #00b7ff;
    }
}


.favoritesCards {
    background-color: #00000000;
    color: #fff;
    border: none;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.favoritesCards:hover {
    background-color: #d4d125;
    color: #fff;
    box-shadow: 0px 0px 30px #ddff00b7;
}

.favoritesCards:active {
    background-color: #939a3b;
    box-shadow: inset 0px 0px 5px #fff700;
    transform: translateY(2px);
    color: #fff;
    outline: none;
}

.carCard .compareadd {
    background-color: transparent !important;
    color: #66ff66 !important; /* Green text */
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: color 0.3s, box-shadow 0.3s !important;
    outline: none !important;
    padding: 0 !important;
    box-sizing: none;
}

.carCard .compareadd:hover {
    color: #33ff33 !important; /* Slightly darker green on hover */
    box-shadow: 0px 0px 10px #33ff33 !important;
}

.carCard .compareadd:active {
    color: #009900 !important; /* Slightly darker green on press */
    box-shadow: inset 0px 0px 5px #009900 !important;
    transform: translateY(2px) !important;
}

.carCard .compareadd:focus {
    outline: none !important;
}

.carCard .comparedel {
    background-color: transparent !important;
    color: #ff6666 !important; /* Red text */
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: color 0.3s, box-shadow 0.3s !important;
    outline: none !important;
}

.carCard .comparedel:hover {
    color: #ff3333 !important; /* Slightly darker red on hover */
    box-shadow: 0px 0px 10px #ff3333 !important;
}

.carCard .comparedel:active {
    color: #990000 !important; /* Slightly darker red on press */
    box-shadow: inset 0px 0px 5px #990000 !important;
    transform: translateY(2px) !important;
}

.carCard .comparedel:focus {
    outline: none !important;
}
